DB_HOST=localhost
DB_USER=root
DB_PASSWORD=TU_PASSWORD_MYSQL
DB_NAME=PDIpia
DB_PORT=3306

PORT=3000

SESSION_SECRET=COLOCA_AQUI_UN_SECRETO || lo sacas poniendo en terminal: - node -e "console.log(require('crypto').randomBytes(32).toString('hex'))" - , y lo que te de lo pegas ahi